<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-1 Orchestra</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Go-1 Orchestra</h1>
    <div id="clients"></div>
    <button onclick="executeCommand()">Execute Command</button>
    <script>
        var ws = new WebSocket("wss://rob-sync-production.up.railway.app/ws/ui");

        ws.onopen = function() {
            console.log("Connected to WebSocket");
        };

        ws.onerror = function(error) {
            console.error("WebSocket Error: ", error);
        };

        ws.onmessage = function(event) {
            console.log("Received from server: " + event.data);
            displayClient(event.data);
        };

        function executeCommand() {
            fetch('/execute', {
                method: 'POST'
            }).then(response => response.json())
              .then(data => console.log(data.message));
        }

        function displayClient(message) {
            var clientsDiv = document.getElementById('clients');
            var clientElem;

            if (message.includes('connected')) {
                clientElem = document.createElement('p');
                clientElem.textContent = message;
                clientElem.id = message.split(' ')[1]; // Assign the client ID as the element's ID
                clientsDiv.appendChild(clientElem);
            } else if (message.includes('disconnected')) {
                var clientId = message.split(' ')[1];
                clientElem = document.getElementById(clientId);
                if (clientElem) {
                    clientsDiv.removeChild(clientElem); // Remove the client from the list
                }
            }
        }
    </script>
</body>
</html>
